.circle{
    width: 40%;
    min-width: 22%;
    
    height: 300px;
    border: #fff solid 2px;
    border-radius: 50%;
    /* /background: url('./imagem.jpeg') no-repeat center; */
    background-size: cover;
}

@media only screen and (max-width: 400px){
    .circle{
        width: 40vh;
        height: 40vh;
    }
}
@media only screen and (min-width: 401px) {
    .circle{
        width: 40vh;
        height: 40vh;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px){
    .circle{
        width: 30vh;
        height: 30vh;
    }
}